@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body {
  font-family: comic sans MS;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color:#FDFBFB ;
  background: #B3B3B3;
  height: 100%;
  position: relative;
}

header{
	background: #B3B3B3;
	height: 100%;
	float: left;
	}
ul, ol{
	list-style: none;
		}
nav li a {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color:#333333;
	color: #F0B429;
	text-decoration:none;
	padding:10px 37px;
	display:block;
    }
nav>ul>li{
	float: left;
	}
nav li ul{
	display:none;
	position: absolute;
	min-width: 140px
     }
nav li:hover  ul{ 
    display:block;
    }
nav a:hover{
	background: #005883;
	color: #FCFBFB;
    }

a {
  color:#F9F5F6;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #F0B429;
  outline:none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2 {
  color: #F47920;
  font-family: "Source Sans Pro", sans-serif;
  font-weight:bold;
  margin: 0 0 30px 0;
  font-size: 25px;
	
}

h3, h4, h5, h6 {
	color: #F0B429;
	font-family: "Gill Sans", Helvetica, Arial, "sans-serif";
	font-weight: 400;
  margin: 0 0 30px 0;
}

aside{
	 float: right; 
	 width: 220px;
	 background: #333333;
	 margin-top: 10px;
	 border-radius: 10px;
	 }

footer {
	height: 70px;
	background: #000000;
	color: #FFFFFF;
	clear: both;
	font-size: 20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	line-height: 8px;
	padding: 10px;
}
#contenido {
	float: left;
	width: 850px;
	background: #333333;
	border-radius: 10px;
	overflow:  hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#contenedor{
	width: 1100px;
	margin: auto;
	margin-top: 20px; 
	border-radius: 10px; 
	overflow: hidden;
	margin-bottom: 20px;
}
#rapa{
	font-style: italic;
	font-family:verdana;
	font-size: 12px;
}

.introduccion, img{
	 float:left;
	 margin: 10px;
}
.introduccion,.inicio,.lec1,.lec2,.lec3,.intmultimedia p{
	margin: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Comic Sans MS;
}

